@charset "UTF-8";
/* Global */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700;900&family=Open+Sans:wght@400;600;700&display=swap");
.column { position: relative; display: flex; flex-direction: column; width: 100%; max-width: 1280px; margin: 0px auto; justify-content: center; padding: 100px 20px; }

@media (max-width: 768px) { .column { padding: 50px 20px; } }

.fullheight { min-height: calc(100vh - var(--nav-full-height)); }

.underline::after { display: block; position: relative; left: calc(50% - 25px); content: ''; height: 20px; width: 50px; border-bottom: 1px solid #5761B2; }

@media (max-width: 510px) { .underline::after { width: 25px; left: calc(50% - 12.5px); } }

.underline-start::after { display: block; position: relative; content: ''; height: 20px; width: 50px; border-bottom: 1px solid #5761B2; }

@media (max-width: 510px) { .underline-start::after { width: 25px; } }

.w-100 { width: 100%; }

.mb-20 { margin-bottom: 20px; }

.mb-30 { margin-bottom: 30px; }

.mb-40 { margin-bottom: 40px; }

@media (max-width: 510px) { .mb-40 { margin-bottom: 30px; } }

.mb-50 { margin-bottom: 50px; }

@media (max-width: 510px) { .mb-50 { margin-bottom: 40px; } }

.mb-60 { margin-bottom: 60px; }

@media (max-width: 510px) { .mb-60 { margin-bottom: 50px; } }

.flex { display: flex; }

.flex-column { display: flex; flex-direction: column; }

.m-top-auto { margin-top: auto; }

.m-left-auto { margin-left: auto; }

.btn-large { display: inline-block; color: white; font-size: 14px; background-color: var(--btn-purple); width: 300px; height: 40px; line-height: 40px; font-weight: 600; text-align: center; }

@media (max-width: 500px) { .btn-large { width: 100%; font-size: 12px; font-weight: 600; } }

.btn-large span { vertical-align: baseline; }

.bold { font-weight: 700; }

.bg { position: absolute; height: 100%; width: 100%; left: 0; top: 0; overflow: hidden; pointer-events: none; }

.bg .column { height: 100%; }

.text-center { text-align: center; }

.mb-1 { margin-bottom: 1em; }

.header-navigation { position: fixed; height: var(--nav-full-height); min-height: 60px; width: 100%; background-color: #FFFFFF; z-index: 10; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }

.header-navigation-wrapper { display: flex; flex: 1 1 auto; flex-direction: row; justify-content: space-between; height: 100%; width: 100%; max-width: 1280px; margin: 0px auto; padding: 0 20px; }

.logo { margin-right: 50px; display: flex; justify-content: flex-start; flex-direction: row; align-items: center; }

.logo-hyperlink { height: var(--navigation-menu-height); }

.header-navigation-wrapper .schedule-meeting-button { margin-left: 50px; }

@media (max-width: 640px) { .header-navigation-wrapper .schedule-meeting-button { display: none; } }

.menu-wrapper { display: flex; align-items: center; width: 100%; }

.menu-items { display: flex; align-items: center; width: 100%; height: var(--navigation-menu-height); }

nav { display: flex; align-items: center; flex-grow: 1; flex-shrink: 0; height: var(--navigation-menu-height); }

nav a { color: var(--text-color); }

nav a:hover { color: #80deea; }

nav .active { color: #3B93AD; font-weight: bold; }

.item { display: flex; flex-direction: row; position: relative; height: 100%; align-items: center; margin-right: 24px; }

.item a { font-size: 14px; }

.languages { display: flex; align-items: center; height: var(--navigation-menu-height); margin-left: auto; }

@media (max-width: 420px) { .languages { position: fixed; right: 12px; bottom: 10px; background: white; border-radius: 6px; border: 1px solid black; height: 48px; width: 48px; display: flex; justify-content: center; align-items: center; } }

@media (max-width: 768px) { .header-navigation { height: var(--nav-mobile-height); } .main { margin-top: var(--nav-mobile-height); } .logo a { height: 30px; } .logo svg { height: 30px; width: 150px; } }

@media (min-width: 769px) { .main { margin-top: var(--nav-full-height); } }

@media (max-width: 460px) { .header-navigation-wrapper .schedule-meeting-button { margin-right: 0; margin-left: auto; } .header-navigation-wrapper .schedule-meeting-button a { padding: 6px 12px; border: 1px solid black; font-size: 10px; } .logo { margin-right: 20px; } }

@media (max-width: 359px) { .header-navigation-wrapper .schedule-meeting-button a { padding-left: 4px; padding-right: 4px; } }

:root { --text-color: #323232; --h-color: #CEE4EB; --text-gray: #989898; --nav-background: #FFFFFF; --background: #E5E5E5; --btn-purple: #5761B2; --font-head: "Fira Sans", sans-serif; --font-body: "Open Sans", sans-serif; --font-size: 16px; --nav-full-height: 120px; --nav-mobile-height: 55px; --navigation-menu-height: 40px; }

*, *::before, *::after { box-sizing: inherit; }

* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; outline: none !important; }

html { box-sizing: border-box; }

body { color: var(--text-color); margin: 0; font-family: var(--font-body); font-size: var(--font-size); display: flex; min-height: 100vh; flex-direction: column; }

section, footer { position: relative; }

a { text-decoration: none; }

svg { margin: 0; }

/* Typography */
h1, h2, h3, h4 { font-family: var(--font-head); line-height: 1.2; padding: 0; margin: 0; }

h1 { font-size: 3.75rem; }

h2 { font-size: 2.5rem; font-weight: 700; letter-spacing: 1px; }

h3 { font-size: 1.5rem; font-weight: 600; font-family: var(--font-body); }

h4 { font-size: 18px; }

p { font-style: normal; font-weight: normal; line-height: 1.375; margin: 0; }

@media (max-width: 510px) { p { font-size: 14px; } }

/* Main */
.main { display: flex; min-height: calc(100vh - var(--nav-full-height)); background: linear-gradient(180deg, #6CAEC1 0%, #3B93AD 100%); align-items: center; transition: ease 0.5s; }

@media (max-width: 768px) { .main { min-height: calc(100vh - var(--nav-mobile-height)); } }

.main h2, .main h3 { color: var(--h-color); }

.main h2 { z-index: 1; text-align: right; letter-spacing: 0; padding-right: 65px; }

.main h2::before { position: relative; right: -100%; content: ""; display: block; width: 50px; height: 50px; border-top: 15px solid var(--h-color); border-right: 15px solid var(--h-color); }

.main em { font-style: normal; color: rgba(255, 255, 255, 0.9); }

.main .author { margin-bottom: 2em; }

.main .column { padding: 0 24px; }

.quote { position: absolute; top: 10%; left: 0; z-index: 0; }

@media (max-width: 1366px) { .quote { transform: scale(0.6); } }

@media (max-width: 1024px) { .quote { top: 0; transform: scale(0.5); } }

.testimonial { margin-top: 1.5em; margin-bottom: 2em; text-transform: uppercase; }

@media (max-width: 640px) { .testimonial { font-size: 1.75rem !important; line-height: 1.25; margin-bottom: 1.5em; } }

@media (max-width: 500px) { .testimonial { font-size: 1.4rem !important; line-height: 1.25; margin-bottom: 1.5em; } }

@media (max-width: 1280px) { .testimonial { padding: 0 20px; } }

/* Business domain */
.business-domain { text-align: center; }

.capabilities { display: flex; justify-content: space-between; flex-wrap: wrap; }

.card { display: flex; flex-direction: column; align-items: center; max-width: 360px; min-width: 300px; margin: 0 auto; margin-bottom: 60px; }

.card p { margin: 0; }

.card h4 { margin: 30px 0; }

@media (min-width: 640px) and (max-width: 1180px) { .card { width: 100%; max-width: none; } }

@media (max-width: 1024px) { .card { min-width: 0; margin-bottom: 50px; } .card h4 { margin: 20px 0; } }

.icon-wrapper { display: flex; justify-content: center; align-items: center; width: 75px; height: 75px; border: 1.5px solid #5761B2; border-radius: 5px; }

@media (max-width: 510px) { .icon-wrapper { width: 50px; height: 50px; } }

/* Tech stack */
.tech-stack-container { display: flex; align-items: stretch; }

@media (max-width: 860px) { .tech-stack-container { flex-direction: column; } .tech-stack-container .stack { flex-direction: row; flex: 1; justify-content: space-between; } .tech-stack-container .capabilities { flex-direction: column; align-items: center; } }

.tech-stack h4 { margin: 0 0 50px 0; }

@media (max-width: 768px) { .tech-stack h4 { margin: 0 0 20px 0; } }

@media (min-width: 640px) and (max-width: 1180px) { .tech-stack { margin: 0; } }

.stack { display: flex; flex: 1 1 200px; flex-direction: column; margin: 0 7px; }

@media (max-width: 860px) { .stack { margin: 0; } }

@media (max-width: 860px) { .tech-card:first-child { margin-left: 0; } .tech-card:last-child { margin-right: 0; } }

@media (min-width: 860px) { .stack:first-child { margin-left: 0; } .stack:last-child { margin-right: 0; } }

.tech-card { display: flex; flex: 1; justify-content: center; background: #FFFFFF; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); border-radius: 5px; min-height: 70px; margin: 7px 0; }

.tech-card img { object-fit: none; height: 100%; width: 100%; }

@media (max-width: 1180px) { .tech-card { min-height: 60px; } .tech-card img { transform: scale(0.9); } }

@media (max-width: 1000px) { .tech-card img { object-fit: contain; transform: scale(0.7); } }

@media (max-width: 860px) { .tech-card { height: 60px; margin: 7px 7px; } .tech-card img { object-fit: contain; transform: scale(0.65); } .tech-card #kubernetes { transform: scale(0.7); } .tech-card #react { transform: scale(0.8); } }

@media (max-width: 620px) { .tech-card { min-height: 40px; } .tech-card #kubernetes { transform: scale(0.8); } }

@media (max-width: 510px) { .tech-card { height: 35px; margin: 5px 3px; } .tech-card img { transform: scale(0.6); } }

.bg-possibilities::after { content: "możliwości"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -125px; left: 50%; transform: translateX(-50%); z-index: -9; }

@media (max-width: 1024px) { .bg-possibilities::after { font-size: 250px; } }

@media (max-width: 1024px) { .bg-possibilities::after { content: "możliwości"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -66px; left: 50%; transform: translateX(-50%); z-index: -9; } }

@media (max-width: 1024px) and (max-width: 1024px) { .bg-possibilities::after { font-size: 250px; } }

html[lang="en"] .bg-possibilities:after { content: "possibilities"; }

/* Contact us / Quote */
.contact-us { display: flex; position: relative; height: 365px; }

@media (max-width: 768px) { .contact-us { height: 200px; } }

.bg-inspire { display: absolute; background: linear-gradient(135deg, rgba(87, 97, 178, 0.5) 0%, rgba(31, 197, 168, 0.5) 100%); height: 365px; z-index: -10; }

@media (max-width: 768px) { .bg-inspire { height: 200px; } }

.inspire-header { color: white; margin-bottom: 50px; font-family: var(--font-head); letter-spacing: 10px; }

.inspire-header span { display: block; font-size: 40px; font-weight: 900; line-height: 52px; }

.inspire-header .large-text { font-size: 60px; line-height: 72px; }

@media (max-width: 768px) { .inspire-header { margin-bottom: 27px; } .inspire-header span { font-size: 18px; line-height: 25px; letter-spacing: 5px; font-weight: 700; } .inspire-header .large-text { font-size: 27px; line-height: 36px; font-weight: 900; } }

/* General */
.schedule-meeting-button { display: flex; height: 40px; font-size: 14px; }

.schedule-meeting-button a { padding: 7.5px 25px; border: 1px solid black; }

/* Portfolio */
.project-header { display: none; }

@media (max-width: 1128px) { .project-header { display: inline; } }

.project-content { display: flex; flex-direction: column; }

.project-content a:last-child { margin-top: auto; }

.desc-placeholder { position: absolute; visibility: hidden; z-index: -100; height: 1000px; }

.slide-desc { min-height: 200px; transform: translate(0, 30px); transition: all 1s ease; }

.slide-desc p:last-of-type { margin-bottom: 0; }

.active { visibility: visible; transform: translate(0); opacity: 1; }

.slider { box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); }

.small-slider { display: none; }

.project-title { margin: 0 0 20px 0; letter-spacing: 1px; text-align: left; }

@media (max-width: 1023px) { .project-title { text-align: center; } }

.project-description { margin-bottom: 15px; line-height: 1.2; }

.project-description a { font-weight: bold; color: initial; text-decoration: underline; }

/* Clients */
.clients { margin: 0; text-align: center; }

.client-flex-items { display: flex; flex-direction: column; }

@media (max-width: 1055px) { .client-flex-items { flex-direction: row; justify-content: center; } }

.client-flex-items > .client-logo-list:first-of-type { margin-bottom: 40px; }

@media (max-width: 1055px) { .client-flex-items > .client-logo-list:first-of-type { margin-bottom: 0; } }

.client-logo-list { display: flex; justify-content: space-between; }

@media (max-width: 1055px) { .client-logo-list { flex-direction: column; } .client-logo-list:first-of-type { margin-right: 80px; } }

@media (max-width: 790px) { .client-logo-list:first-of-type { margin-right: 50px; } }

@media (max-width: 640px) { .client-logo-list { width: calc((100vw - 40px) / 2); } .client-logo-list:first-of-type { margin-right: 0; } }

.client-logo { height: 70px; display: flex; align-items: center; justify-content: center; }

.client-logo svg { height: 70px; }

@media (max-width: 1280px) { .client-logo { transform: scale(0.9); } }

@media (max-width: 1090px) { .client-logo { transform: scale(0.8); } }

@media (max-width: 1055px) { .client-logo { transform: scale(1); } .client-logo:not(:last-child) { margin-bottom: 40px; } }

@media (max-width: 790px) { .client-logo { transform: scale(0.9); } }

@media (max-width: 640px) { .client-logo { transform: scale(0.75); } .client-logo:not(:last-child) { margin-bottom: 20px; } }

@media (max-width: 510px) { .client-logo:not(:last-child) { margin-bottom: 0; } }

@media (max-width: 460px) { .client-logo { transform: scale(0.6); } }

@media (max-width: 350px) { .client-logo { transform: scale(0.5); } }

#healthly svg { height: 60px; }

#info-group svg { height: 50px; }

/* Background svg */
.bg-pattern img { width: 493px; height: 100%; position: absolute; right: 0%; z-index: -1; mask-image: linear-gradient(67deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0) 25%, black 100%); -webkit-mask-image: linear-gradient(67deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0) 25%, black 100%); }

@media (max-width: 768px) { .bg-pattern img { max-width: 270px; height: 100%; mask-image: linear-gradient(67deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0) 50%, black 100%); -webkit-mask-image: linear-gradient(67deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0) 50%, black 100%); } }

.bg-projects::after { content: "projekty"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -126px; left: 50%; transform: translateX(-50%); z-index: -9; }

@media (max-width: 1024px) { .bg-projects::after { font-size: 250px; } }

@media (max-width: 1024px) { .bg-projects::after { content: "projekty"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -62px; left: 50%; transform: translateX(-50%); z-index: -9; } }

@media (max-width: 1024px) and (max-width: 1024px) { .bg-projects::after { font-size: 250px; } }

html[lang="en"] .bg-projects:after { content: "projects"; }

.bg-plus-1 { position: absolute; left: 14%; top: 3%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

@media (max-width: 1024px) { .bg-plus-1 { position: absolute; left: 10%; top: 17%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); transform: scale(0.5); } }

.bg-plus-2 { position: absolute; left: 78%; top: 16%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

@media (max-width: 1024px) { .bg-plus-2 { position: absolute; left: 60%; top: 37%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); transform: scale(0.5); } }

.bg-plus-3 { position: absolute; left: 51%; top: 42%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

@media (max-width: 1024px) { .bg-plus-3 { position: absolute; left: 5%; top: 70%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); transform: scale(0.5); } }

.bg-arrow { position: absolute; left: 31%; top: 56%; z-index: -3; opacity: 0.12; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

@media (max-width: 1024px) { .bg-arrow { position: absolute; left: 10%; top: 55%; z-index: -3; opacity: 0.12; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); transform: scale(0.5); } }

.bg-arrow-2 { position: absolute; left: 80%; top: 3%; z-index: -3; opacity: 0.12; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

@media (max-width: 1024px) { .bg-arrow-2 { position: absolute; left: 60%; top: 40%; z-index: -3; opacity: 0.12; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); transform: scale(0.5); } }

.sm-slider { display: none; }

/* Media queries */
@media (max-width: 959px) { .main h2 { font-size: 2rem; } }

@media (max-width: 1024px) { .main { height: calc(100% - 60px); } h2.testimonial { margin-right: 0; padding: 0; } h2.testimonial::before { display: none; } .project-content { text-align: center; } .project-content h2.underline-start::after { left: calc(50% - 25px); } .project-content .project-description { text-align: left; } .inspire { height: auto; } #testimonial-swiper .column { max-width: 1280px; padding-bottom: 0; } }

@media (max-width: 510px) { .quote { top: 0; } h2 { font-size: 18px; line-height: 1.5; } .main h2, .main h3 { text-align: center; } .main h3 { font-size: 1rem; font-weight: 400; line-height: 2rem; } .icon-wrapper svg { transform: scale(0.66); } }

.client-header { display: none; }

@media (min-width: 791px) { .client-header { display: inline; } }

.client-header-sm { display: none; }

@media (max-width: 790px) { .client-header-sm { display: inline; margin-bottom: 40px; } }

@media (max-width: 510px) { .client-header-sm { margin-bottom: 20px; } }

.cookies { display: none; position: fixed; text-align: center; bottom: 0; margin: 0 auto; background-color: rgba(0, 0, 0, 0.9); width: 100%; font-size: 0.7em; padding: 7px; z-index: 100; color: white; }

.confirm-cookies { font-size: 15px; border: 1px solid white; padding: 5px 0; cursor: pointer; max-width: 250px; margin: 0 auto; text-align: center; color: white; }

.cookies-text { font-size: 15px; margin-bottom: 10px; }

@media (max-width: 1200px) { .cookies-text { font-size: 12px; } }

.confirm-cookies:hover { background-color: rgba(0, 0, 0, 0.5); }

.about-header { position: relative; display: flex; height: 215px; color: #E7F1F5; background: url(../images/about-header.png); text-align: center; margin-top: var(--nav-full-height); }

.about-header h1::after { border-bottom: 1px solid #E7F1F5; }

@media (max-width: 767px) { .about-header { margin-top: var(--nav-mobile-height); } }

.header-bg { display: flex; position: absolute; width: 100%; height: 100%; background: #3B93AD; opacity: 0.85; }

.header-bg .column { padding: 0 20px; }

@media (max-width: 770px) { .article { flex-direction: column; display: flex; } }

.article p { margin-bottom: 20px; order: 2; }

.article p + p { order: 3; }

.article p + p + p { order: 5; }

.article p + p + p + p { order: 6; }

.article p:last-child { margin-bottom: 75px; }

.article h2 { order: 1; margin-bottom: 30px; }

@media (max-width: 770px) { .article h2 { font-size: calc((100vw - 40px)/17.5); } }

.article img { order: 4; width: 500px; height: auto; float: right; margin: 0 0 2.5em 2.5em; }

@media (max-width: 770px) { .article img { float: none; margin: auto; margin-bottom: 20px; } }

@media (max-width: 540px) { .article img { width: calc(100vw - 40px); height: auto; } }

section.description > .bg > .column > .bg-arrow { position: absolute; left: 10%; top: 25%; z-index: -3; opacity: 0.12; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

section.description > .bg > .column > .bg-plus-2 { position: absolute; left: 70%; top: 70%; z-index: -3; opacity: 0.24; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

.bg-were::after { content: "jesteśmy"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -126px; left: 50%; transform: translateX(-50%); z-index: -9; }

@media (max-width: 1024px) { .bg-were::after { font-size: 250px; } }

@media (max-width: 1024px) { .bg-were::after { bottom: -66px; } }

/* Statistics */
.statistics { background: linear-gradient(100.08deg, #5761B2 0%, #1FC5A8 100%); opacity: 0.5; color: white; }

.statistics .column { padding: 75px 20px; }

.stat-list { display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 50px; }

@media (max-width: 840px) { .stat-list { flex-direction: column; margin-bottom: 0; } }

@media (max-width: 840px) { .stat-column { display: flex; flex-direction: row; justify-content: space-evenly; } }

.stat-item { display: flex; flex-direction: column; justify-items: center; align-items: center; height: 200px; width: 160px; text-align: center; font-weight: bold; max-width: 310px; margin: auto; }

.stat-item:nth-child(-n+4)::after { display: block; position: relative; content: ''; height: 50px; width: 75px; border-bottom: 1px solid #FFF; }

@media (max-width: 840px) { .stat-item:nth-child(-n+4)::after { margin-bottom: 25px; } }

.stat-item svg { min-height: 40px; margin-bottom: 15px; }

.stat-item span { display: block; text-transform: uppercase; }

@media (min-width: 841px) { .stat-list:not(.upper) { margin-bottom: 0; } .stat-list:not(.upper) .stat-item:nth-child(-n+4)::after { display: none; } }

@media (max-width: 460px) { .stat-item:nth-child(-n+4)::after { height: 35px; } }

.stat { font-family: var(--font-head); font-size: 40px; font-weight: bold; }

.stat-text { min-height: 69px; }

.infinity { display: flex; justify-content: center; align-items: center; height: 54px; }

/* Values */
.values h2 { text-align: center; letter-spacing: 0px; }

.values-list-desktop { display: flex; flex-wrap: wrap; row-gap: 30px; column-gap: 40px; }

@media (max-width: 767px) { .values-list-desktop { display: none; } }

.values-list-mobile { display: flex; flex-direction: column; }

@media (min-width: 768px) { .values-list-mobile { display: none; } }

.values-list-mobile .values-item { flex: unset; flex-direction: column; }

.values-list-mobile .values-item:last-child { border-bottom: 1px solid #CCCCCC; }

.values-list-mobile .values-button { cursor: pointer; display: flex; height: 80px; align-items: center; border-top: 1px solid #CCCCCC; }

.values-list-mobile .values-icon { display: flex; align-items: center; justify-items: center; margin-left: auto; margin-right: 15px; }

.values-list-mobile .values-icon .minus-icon { display: none; }

.values-list-mobile .values-item-content { display: none; margin-bottom: 25px; }

.values-item { display: flex; flex: 1 1 500px; }

.values-icon-wrapper { display: flex; justify-content: center; align-items: center; min-width: 40px; width: 40px; height: 40px; border: 1.5px solid #5761B2; border-radius: 5px; margin-right: 20px; }

@media (max-width: 425px) { .values-icon-wrapper { width: 30px; height: 30px; min-width: 30px; } }

.values-item-content { width: 100%; }

.values-item-content h4 { margin: 0 0 20px 0; }

@media (max-width: 425px) { .values-item-content h4 { float: left; width: calc(100% - 16px); } }

@media (max-width: 425px) { .values-item-content p { display: none; } }

section.values > .bg .bg-plus-1 { position: absolute; left: 80%; top: 15%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

section.values > .bg .bg-plus-3 { position: absolute; left: 22%; top: 40%; z-index: -3; opacity: 0.25; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); transform: scale(0.83); }

section.values > .bg .bg-arrow-bl { position: absolute; left: 45%; top: 82%; z-index: -3; opacity: 0.15; transform: scale(1); filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); }

@media (max-width: 767px) { section.values > .bg .bg-plus-1, section.values > .bg .bg-plus-3, section.values > .bg .bg-arrow-bl { display: none; } }

.bg-values::after { content: "wartości"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -126px; left: 50%; transform: translateX(-50%); z-index: -9; }

@media (max-width: 1024px) { .bg-values::after { font-size: 250px; } }

.accordion { display: none; height: 15px; width: 15px; font-size: 15px; font-weight: bold; float: left; margin: 0 0 26px 0; }

@media (max-width: 425px) { .accordion { display: block; } }

/* Location */
.location-section { background-color: #F9F9F9; }

.location { display: flex; }

@media (max-width: 1074px) { .location { flex-direction: column; } }

.location-photo { position: relative; width: 500px; height: 492px; margin-right: 50px; }

@media (max-width: 1074px) { .location-photo { margin: auto; margin-bottom: 20px; } }

@media (max-width: 540px) { .location-photo { width: 100vw; height: auto; left: -20px; } }

.location-content h2 { margin-bottom: 30px; }

.location-content ul { margin: 0; padding: 0 0 0 20px; }

.location-content ul li { list-style-image: url(../../assets/images/about-list-style.svg); padding: 20px 0 0 20px; }

/* Team */
.team-section h2 { text-align: center; margin-bottom: 40px; }

.team { display: grid; grid-template-columns: repeat(4, 272.5px); grid-template-rows: repeat(4, 272.5px); gap: 50px; }

@media (max-width: 1320px) { .team { grid-template-columns: repeat(3, 272.5px); grid-template-rows: repeat(5, 272.5px); margin: auto; } }

@media (max-width: 960px) { .team { grid-template-columns: repeat(2, 272.5px); grid-template-rows: repeat(7, 272.5px); } }

@media (max-width: 640px) { .team { grid-template-columns: repeat(2, calc((100vw - 60px) / 2)); grid-template-rows: calc(((100vw - 60px) / 2) * 1.2) repeat(6, calc((100vw - 60px) / 2)); gap: 45px 20px; } }

.mobile { display: none; }

@media (max-width: 640px) { .mobile { display: block; } }

@media (max-width: 640px) { .k:not(.mobile), .p:not(.mobile) { display: none; } }

.team-member { position: relative; background-color: #ccc; transition: all .3s ease; }

@media (min-width: 641px) { .team-member:hover { background-color: #1FC5A8; } }

.team-member:not(.k):not(.p) img { width: 272.5px; height: 272.5px; }

@media (max-width: 640px) { .team-member:not(.k):not(.p) img { width: calc((100vw - 60px) / 2); height: calc((100vw - 60px) / 2); } }

@media (max-width: 960px) { .team-member:not(.k):not(.p) { width: 272.5px; height: 272.5px; } }

@media (max-width: 640px) { .team-member:not(.k):not(.p) { width: calc((100vw - 60px) / 2); height: calc((100vw - 60px) / 2); } }

.k { grid-area: 1 / 1 / 3 / 2; }

.k img { width: 272.5px; height: 595px; }

@media (max-width: 640px) { .k img { width: calc((100vw - 60px) / 2); height: calc(((100vw - 60px) / 2) * 1.2); } }

@media (max-width: 640px) { .k { width: calc((100vw - 60px) / 2); height: calc(((100vw - 60px) / 2) * 1.2); grid-area: auto; } }

.p { grid-area: 1 / 2 / 3 / 3; }

.p img { width: 272.5px; height: 595px; }

@media (max-width: 640px) { .p img { width: calc((100vw - 60px) / 2); height: calc(((100vw - 60px) / 2) * 1.2); } }

@media (max-width: 640px) { .p { width: calc((100vw - 60px) / 2); height: calc(((100vw - 60px) / 2) * 1.2); grid-area: auto; } }

.intro { display: flex; flex-direction: column; justify-content: center; opacity: 0; position: absolute; bottom: 0; width: 100%; height: 120px; margin: 0; background: rgba(87, 97, 178, 0.75); transition: .3s ease; }

.intro span { display: block; text-align: center; color: #F5F5FA; line-height: 25px; }

.name { font-size: 18px; font-weight: bold; }

.position { font-size: 14px; }

@media (min-width: 641px) { .team-member:hover > div.intro { transition: .3s ease; opacity: 1; } }

.bg-values::after { content: "wartości"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -126px; left: 50%; transform: translateX(-50%); z-index: -9; }

@media (max-width: 1024px) { .bg-values::after { font-size: 250px; } }

@media (max-width: 1024px) { .bg-values::after { bottom: -66px; } }

.bg-team::after { content: "zespół"; font-family: var(--font-head); font-size: 475px; font-weight: bold; color: #F9F9F9; position: absolute; bottom: -126px; left: 50%; transform: translateX(-50%); z-index: -9; }

@media (max-width: 1024px) { .bg-team::after { font-size: 250px; } }

@media (max-width: 1024px) { .bg-team::after { bottom: -66px; } }

.name-mobile { font-size: 12px; font-weight: bold; }

.position-mobile { font-size: 10px; }

.desc-mobile { flex-direction: column; align-items: center; display: none; }

@media (max-width: 640px) { .desc-mobile { display: flex; } }

footer { display: flex; flex-direction: column; font-size: 14px; color: white; background-color: black; z-index: 0; min-height: 365px; background: url("../images/zabrze.jpg"); background-position: top center; background-size: cover; }

footer a { transition: 200ms color; }

footer a:hover { color: white !important; }

address { font-style: normal; }

.footer-wrapper { display: flex; flex-direction: column; width: 100%; max-width: 1280px; margin: 0 auto; padding: 0 24px; }

.footer-contact-wrapper { position: relative; width: 100%; }

.footer-contact-wrapper::after { position: absolute; top: 15%; right: 0; content: ""; display: block; width: 90px; height: 90px; border-top: 25px solid #989898; border-right: 25px solid #989898; }

@media (max-width: 1024px) { .footer-contact-wrapper::after { top: 1%; right: -21px; transform: scale(0.5); } }

@media (max-width: 510px) { .footer-contact-wrapper { font-size: 12px; line-height: 1.5; } }

.footer-contact-wrapper .schedule-meeting-button a { padding: 7.5px 30px; border: 1px solid white; font-size: 12px; }

@media (max-width: 510px) { .footer-contact-wrapper .schedule-meeting-button { height: 30px; line-height: 1.5; white-space: nowrap; } .footer-contact-wrapper .schedule-meeting-button a { font-size: 10px; line-height: 2; padding: 5px 25px; } }

.footer-segment-wrapper { display: flex; }

.footer-img { display: block; margin-right: 20px; width: 118px; height: auto; }

@media (max-width: 510px) { .footer-img { margin-right: 16px; width: 85px; height: 105px; } }

@media (max-width: 320px) { .footer-img { margin-right: 10px; } }

.footer-contact { margin-top: 100px; display: flex; flex-wrap: wrap; }

@media (max-width: 1024px) { .footer-contact { margin-top: 50px; } }

.footer-contact-info { display: flex; flex-direction: column; color: #989898; font-style: normal; line-height: 1.8; margin: 0 0 35px 0; }

.footer-contact-info:first-of-type { margin-right: 50px; }

.footer-contact-info h4 { color: white; margin: 0 0 18px 0; }

.footer-contact-info a { color: inherit; }

@media (max-width: 510px) { .footer-contact-info { margin: 0 0 35px 0; } .footer-contact-info h4 { font-size: 14px; } }

.social-media .schedule-meeting-button { display: inline-block; border: 1px solid white; padding: 12px 0; }

.social-media .schedule-meeting-button a { color: #989898; border: none; margin-right: 0; }

.leaflet-pane .leaflet-tile-pane { filter: invert(1) sepia(100%) hue-rotate(-230deg); }

.leaflet-container .leaflet-control-attribution { color: rgba(255, 255, 255, 0.8); background-color: rgba(0, 0, 0, 0.8); }

.leaflet-container .leaflet-control-attribution a { color: rgba(255, 255, 255, 0.8); }

/* Address items */
.footer-contact-person { padding-left: 26px; }

.footer-contact-person::before { display: inline-block; content: ''; background-image: url("../images/icons/person-icon.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; height: 13px; width: 17px; position: absolute; transform: translate(-26px, 5px); }

.footer-contact-phone { padding-left: 26px; }

.footer-contact-phone::before { display: inline-block; content: ''; background-image: url("../images/icons/phone-icon.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; height: 13px; width: 17px; position: absolute; transform: translate(-26px, 5px); }

.footer-contact-mail { padding-left: 26px; }

.footer-contact-mail::before { display: inline-block; content: ''; background-image: url("../images/icons/mail-icon.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; height: 13px; width: 17px; position: absolute; transform: translate(-26px, 5px); }

.footer-address { padding-left: 26px; }

.footer-address::before { display: inline-block; content: ''; background-image: url("../images/icons/location-pin-icon.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; height: 13px; width: 17px; position: absolute; transform: translate(-26px, 5px); }

.footer-copyright { padding-left: 26px; }

.footer-copyright::before { display: inline-block; content: ''; background-image: url("../images/icons/copyright.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; height: 13px; width: 17px; position: absolute; transform: translate(-26px, 5px); }

.copyright-icon { padding-left: 26px; padding-left: 20px; }

.copyright-icon::before { display: inline-block; content: ''; background-image: url("../images/icons/copyright.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; height: 13px; width: 17px; position: absolute; transform: translate(-26px, 5px); }

.copyright-icon::before { height: 14px; width: 14px; transform: translate(-20px, 0); }

/* Clutch widget */
.widget { display: flex; width: 192px; height: 50px; margin: 0 30px 30px 50px; }

@media (max-width: 1130px) { .widget { width: 400px; margin: 0 30px 30px 0; } }

/* Social media */
.social-media { margin: 0 0 30px 0; }

.social-media a { margin-right: 3em; }

@media (max-width: 1100px) { .social-media { width: 100%; text-align: center; flex-wrap: wrap; justify-content: flex-start; display: flex; } }

@media (min-width: 768px) { .social-media { display: none; } }

.social-media-inline { display: flex; align-items: center; margin-left: auto; }

.social-media-inline a { margin-left: 36px; }

@media (max-width: 768px) { .social-media-inline { display: none; } }

@media (max-width: 510px) { .footer-contact-person, .footer-contact-phone, .footer-contact-mail, .footer-address { padding-left: 18px; } .footer-contact-person::before, .footer-contact-phone::before, .footer-contact-mail::before, .footer-address::before { height: 12px; width: 12px; transform: translate(-18px, 6px); } }

.footer-copyright-styles { display: flex; margin-top: auto; background-color: black; height: 45px; color: var(--text-gray); font-family: Open Sans; font-style: normal; font-weight: 600; font-size: 10px; line-height: 14px; }

.footer-copyright-styles span { padding-right: 50px; }

.footer-copyright-styles span a { text-decoration-line: underline; color: var(--text-gray); }

@media (max-width: 580px) { .footer-copyright-styles { height: 72px; } .footer-copyright-styles span { margin: 5px 0; } }

.copyright-wrapper { display: flex; width: 100%; max-width: 1280px; margin: 0px auto; padding: 0 24px; align-content: center; }

.copyright-notice { display: flex; align-content: center; flex-wrap: wrap; align-items: center; white-space: nowrap; }

.cookies-text a { color: #3B93AD; }

.policy-links > span:first-child { padding-right: 10px; }

.policy-links > span:first-child::after { position: relative; content: '|'; padding-left: 10px; }

.swiper-slide { display: flex; }

.swiper-slide .column { max-width: 1232px; padding-left: 24px; padding-right: 24px; }

@media (max-width: 1280px) { .swiper-slide .column { width: unset; width: fit-content; } }

@media (max-width: 640px) { .swiper-slide .column { margin: 0; } }

.swiper-pagination-bullet { width: 12px; height: 12px; }

.swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: var(--h-color); }

div.portfolio-wrapper div.project-slides div.swiper-container div.swiper-pagination span.swiper-pagination-bullet-active { background-color: #3B93AD; }

#testimonial-swiper > .swiper-pagination-bullets { bottom: 0; }

.swiper-button-prev { width: 35px; height: 35px; top: calc(50% - 11px); left: 2%; }

.swiper-button-prev::after { display: flex; width: 35px; height: 35px; content: ''; background-image: url("../images/prev.svg"); background-repeat: no-repeat; background-size: contain; }

@media (max-width: 768px) { .swiper-button-prev { display: none; } }

.swiper-button-next { width: 35px; height: 35px; top: calc(50% - 11px); right: 3%; }

.swiper-button-next::after { display: flex; width: 35px; height: 35px; content: ''; background-image: url("../images/next.svg"); background-repeat: no-repeat; background-size: contain; }

@media (max-width: 768px) { .swiper-button-next { display: none; } }

div.project-slides > div.swiper-container > div[class^="swiper-button"] { display: none; }

@media (hover: hover) { #projects-swiper:hover div[class^="swiper-button"] { display: block; } }

.desc-title { margin-bottom: 30px; }

@media (max-width: 1200px) { .desc-title { font-size: 2rem; } }

@media (max-width: 1128px) { .desc-title { display: none; } }

.project-content-wrapper { min-width: 30%; flex: 1 1; }

.portfolio-wrapper { display: flex; }

@media (max-width: 1023px) { .portfolio-wrapper { flex-direction: column; align-items: center; } }

.portfolio-wrapper .project-slides { max-width: 720px; height: auto; margin-right: 50px; flex: 1 1 auto; }

@media (max-width: 1200px) { .portfolio-wrapper .project-slides { max-width: 600px; margin-right: 25px; } }

@media (max-width: 1023px) { .portfolio-wrapper .project-slides { max-width: 720px; margin-right: 0; margin-bottom: 25px; } }

@media (max-width: 900px) { .portfolio-wrapper .project-slides { width: 102%; } }

@media (max-width: 510px) { .portfolio-wrapper .swiper-wrapper { padding-bottom: 20px; } }

.portfolio-wrapper .swiper-container .swiper-img { width: 100%; height: 100%; margin: 0; overflow: visible; }

.portfolio-wrapper .swiper-container .swiper-pagination { bottom: 25px; }

@media (max-width: 510px) { .portfolio-wrapper .swiper-container .swiper-pagination { bottom: 0px; } }

@media (max-width: 1000px) { .portfolio-wrapper .swiper-container .swiper-slide { display: block; } .portfolio-wrapper .swiper-container .swiper-img { width: 100%; margin: 0; height: auto; user-select: none; } .portfolio-wrapper .swiper-container .project-description:last-child { margin-bottom: 3em; } }

/*# sourceMappingURL=styles.css.map */